@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: 'Inter', serif;
}
body {
    overflow-x: hidden;
    margin: 0;
    background-color: #EDF2FB;
}
* {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}